<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>It will be rainy</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
     <header>
       <div class="heading">
        <h2 class="title">It will be rainy(but I go).</h2>
       </div>
       <div class="navbar">
        <ul class="menu">
          <li>news</li>
          <li>profile</li>
          <li>discography</li>
          <li>goods</li>
          <li>livephoto</li>
       </div>
     </header>
       <div class="picture">
        <%= image_tag "logo.jpg",class:"list-pict" %>
    <a class="twitter-timeline" data-lang="ja" data-width="300" data-height="800" data-theme="light" href="https://twitter.com/Itwillberainy?ref_src=twsrc%5Etfw">Tweets by Itwillberainy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    <footer>
    </footer>
  </body>
</html>